# Terraform
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
.terraform/
.terraform.lock.hcl
*.plan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
*.pem
*.key
kubeconfig
